<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      class="img-fluid"
      [alt]="recipe.name"
      style="max-height: 300px"
    />
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <button
          id="recipeBtnGroup"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
          type="button"
          class="btn btn-primary dropdown-toggle"
        >
          Manage Recipe
        </button>
        <ul class="dropdown-menu" aria-labelledby="recipeBtnGroup">
          <li>
            <a href="#" class="dropdown-item">To Shopping List</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Edit Recipe</a>
          </li>
          <li>
            <a href="#" class="dropdown-item">Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
